################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DevJobs.API/.vs/DevJobs.API
/DevJobs.API/bin/Debug/net6.0
/DevJobs.API/obj
/DevJobs.API/appsettings.json
/DevJobs.API/appsettings.Development.json
